*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
dd,
header,
nav,
article,
section,
aside,
figure,
figcaption,
footer,
dl,
dd,
dt {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Firefox input fix */
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Normalise form field line-height in webkit browsers */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  line-height: normal;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --font-family: system-ui, sans-serif;
  --font-family-mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  --font-size-bear: 3rem;
  --font-size-antilope: 2.3rem;
  --font-size-tiger: 2.0rem;
  --font-size-dog: 1.75rem;
  --font-size-swan: 1.5rem;
  --font-size-cat: 1.3rem;
  --font-size-rabbit: 1.1rem;

  --light-base-color: #373737;
  --light-base-bg-color: #fff;

  --dark-base-color: #fff;
  --dark-base-bg-color: #373737;

  --base-color: var(--light-base-color);
  --base-bg-color: var(--light-base-bg-color);

  --light-link-color: hsl(240, 93%, 59%);
  --light-link-visited-color: hsl(259, 93%, 59%);

  --dark-link-color: hsl(54, 93%, 59%);
  --dark-link-visited-color: hsl(44, 93%, 59%);

  --link-color: hsl(240, 93%, 59%);
  --link-visited-color: hsl(259, 93%, 59%);
}

html,
body {
  height: 100%;
}

html {
  font-family: var(--font-family);
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-size: var(--font-size-dog);
  color: var(--base-color);
  background-color: var(--base-bg-color);

  @media (prefers-color-scheme: dark) {
    --base-color: var(--dark-base-color);
    --base-bg-color: var(--dark-base-bg-color);
  }
}

a {
  color: var(--link-color);
  text-decoration-color: hsl(197, 98%, 55%);
  text-decoration-thickness: .08em;
  text-underline-offset: .24em;

  & :visited {
    color: var(--link-visited-color);
  }

  @media (prefers-color-scheme: dark) {
    --link-color: var(--dark-link-color);
    --link-visited-color: var(--dark-link-visited-color)
  }
}

.f-size-xxl {
  font-size: var(--font-size-bear);
}

.f-size-xl {
  font-size: var(--font-size-antilope);
}

.f-size-lg {
  font-size: var(--font-size-tiger);
}

.f-size-md {
  font-size: var(--font-size-dog);
}

.f-size-sm {
  font-size: var(--font-size-swan);
}

.f-size-xs {
  font-size: var(--font-size-rabbit);
}

.site-header {
  margin-bottom: 10rem;
}

.header__nav {
  padding: 2.5rem;

  & ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1em;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-mono);
    text-align: end;
  }
}

.profile .h-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
