{{ define "main" }}
<article class="h-entry post">
  <header>
    <h1 class="p-name">{{ .Title }}</h1>
  </header>
  <section class="e-content post-body">
      {{ .Content }}
  </section>
</article>
<section class="clearfix">
  <a href="/">
    <img class="u-photo" src="{{ .Site.Author.avatar }}" width="96" height="96">
    <div>
      <span class="p-author h-card">{{ .Site.Author.name }}</span>
      <span><a href="https://micro.blog/{{ .Site.Author.username }}">@{{ .Site.Author.username }}</a></span>
    </div>
  </a>
</section>
{{ end }}